{% include 'header.html' %}
		<div class = "container color-white">
			<div class = "row">
				<div class = 'col-sm-3 logo'>
					<br>
					<img src = "https://s26.postimg.org/nrez5ktex/disc_icon2.png" class = "img-responsive">
				</div>
				<div class = 'col-sm-6 logo'>
					<br>
					<h1 class = "color-black"> &nbsp; Nuevo Playlist </h1>
					<form action = "playlist" method = "POST">
						<div class = "form-group">	
							<!-- <label for = "id"> ID </label>  -->
							<input type = "hidden" name = "id" value = "{{playlist.id}}" /> {{playlist.id}}
						</div>
						<div class = "form-group">	
							<!-- <label for = "id"> ID </label>  -->
							<input type = "hidden" name = "autor" value = "{{usuario.id}}" /> {{usuario.id}}
						</div>
						<div class = "form-group">
							<!-- <label for = "nombre" class = "color-black"> Nombre </label> -->
							<input type = "text" class = "form-control" name = "nombre" placeholder = "Ingrese el nombre del playlist">
						</div>
						<div class = 'col-sm-6'>
							<button type = "submit" class = "btn btn-primary btn-block"> Guardar </button>
						</div>
						<div class = 'col-sm-6'>
							<button type = "button" class = "btn btn-primary btn-block" onclick = "history.back();"> Cancelar </button>
						</div>
					</form>
				</div>
				{% include 'sidebar.html' %}
			</div>
		</div>
	</body>
</html>