<html>
<head>
<title>Registrar Playlist</title>
</head>
<body>
	<form action="playlist" method="POST">
		<table>
			<tbody>
				<tr>
					<td>ID</td>
					<td><input type="hidden" name="id" value="{{playlist.id}}" />{{playlist.id}}</td>
				</tr>
				
				<tr>
					<td>Nombre</td>
					<td><input type="text" name="nombre"/></td>
				</tr>
				
				<tr>
					<td>Autor</td>
					<td><input type="text" name="autor"/></td>
				</tr>
								
			</tbody>
		</table>
		<br>
		<input type="submit" value="Save" />
		<input type="button" value="Cancel" onclick="history.back();" />
	</form>
</body>
</html>