<html>
	<head>
		<meta charset = 'UTF-8'>
		<title> List-n </title>
		
		<meta name = "viewport" content = 'width = device-width, user-scalable = no, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0'>
		<link rel = "stylesheet" href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity = 'sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin = 'anonymous'>
		<link rel = "stylesheet" href = "https://dl.dropboxusercontent.com/s/nq12hgjs93bp6kl/estilos.css" type = "text/css">
	</head>
	
	<body>
		<div class = "container-fluid color-black">
			<div class = "container">
				<div class = "row">
					<div class = 'col-sm-8'> </div>
					<div class = 'col-sm-3'>
						<h2 class = "text-right"> Usuario </h2> <br>
					</div>
					<div class = 'col-sm-1'>
						<img src = "https://s26.postimg.org/ekjb8woh5/icon_user.png" class = "img-responsive">
					</div>
				</div>
			</div>
		</div>
		
		<div class = "container color-white">
			<div class = "row">
				<div class = 'col-sm-9 logo'>
					<h1 class = "color-black"> &nbsp; Albumes </h1>
					<img src = "https://s26.postimg.org/485sih59l/banner_album_title.png" class = "img-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for album in albumes %}
							<tr>
								<td> {{ album.id }} </td>
								<td> {{ album.nombre }} </td>
								<td><a href="album?id={{ album.id }}">Ver</a> | <a href="agregar-album?id={{album.id }}">Modificar</a> </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<br />
     				<a href="agregar-album">Agregar Nuevo Album</a>
				</div>
				<div class = 'col-sm-3 color-black'>
					<button type = "button" class = "btn btn-default btn-square btn-block"> Cuenta </button>
					<button type = "button" class = "btn btn-default btn-square btn-block"> Canciones </button>
					<button type = "button" class = "btn btn-default btn-square btn-block"> Albumes </button>
					<button type = "button" class = "btn btn-default btn-square btn-block"> Top 10 </button>
					<button type = "button" class = "btn btn-default btn-square btn-block"> Playlists </button>
					<button type = "button" class = "btn btn-default btn-square btn-block"> Siguiendo </button>
					<button type = "button" class = "btn btn-default btn-square btn-block"> Seguidores </button>
					<br>
					<img src = "https://s26.postimg.org/c1xm882qx/banner.png" class = "img-responsive">
					<br>
				</div>
			</div>
		</div>
	</body>
</html>