   {% include 'header.html' %}
    <div class = "container color-white">
			<div class = "row">
				<div class = 'col-sm-9 logo'>
					<h1 class = "color-black"> &nbsp; Albumes </h1>
					<img src = "https://s26.postimg.org/485sih59l/banner_album_title.png" class = "img-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for album in albumes %}
							<tr>
								<td> {{ album.id }} </td>
								<td> {{ album.nombre }} </td>
								<td><a href="album?id={{ album.id }}">Ver</a> | <a href="agregar-album?id={{album.id }}">Modificar</a> </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<br/>
     				<a href="agregar-album">Agregar Nuevo Album</a>
				</div>
				{% include 'sidebar.html' %}
			</div>
		</div>
	</body>
</html> 