
<html>
<head>
<title>Artista</title>
</head>
<body>
	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ artista.id }}</td>
			</tr>
			<tr>
				<th>First Name</th>
				<td>{{ artista.firstName }}</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>{{ artista.lastName }}</td>
			</tr>
        </tbody>
      </table>
      <br />
      <a href="agregar-artista?id={{person.id}}">Modificar</a> |<a href="agregar-artista">Agregar Nuevo Artista</a> | <a href="artista">Listar</a>
</body>
</html>