{% include 'header.html' %}		
		<div class = "container color-white">
			<div class = "row">
				<div class = 'col-sm-9 logo'>
					<h1 class = "color-black"> &nbsp; Artistas </h1>
					<img src = "https://s26.postimg.org/kcs7bp8mh/banner_artist_title.png" class = "img-responsive">
					<div class = "table-responsive">
						<table class = "table">
							<thead>
								<tr>
									<th> ID </th>
									<th> Apellidos </th>
									<th> Nombres </th>
									<th> Acciones </th>
								</tr>
							</thead>
							
							<tbody>
							{% for artista in artistas %}
								<tr>
									<td>{{ artista.id }}</td>
									<td>{{ artista.lastName }}</td>
									<td>{{ artista.firstName }}</td>
									<td><a href = "artista?id={{ artista.id }}"> Ver </a> | <a href = "agregar-artista?id={{artista.id }}"> Modificar </a> </td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					<a href = "agregar-artista" class = "btn btn-primary btn-block"> Agregar nuevo artista </a>
				</div>
				{% include 'sidebar.html' %}
			</div>
		</div>
	</body>
</html>