{% include 'header.html' %}
		<div class = "container color-white">
			<div class = "row">
				<div class = 'col-sm-9 logo'>
					<h1 class = "color-black"> &nbsp; Canciones </h1>
					<img src = "https://s26.postimg.org/ozy9dgvzd/banner_song.png" class = "img-responsive">
					<table class = "table">
						<tr>
							<th> Nombres </th>
						</tr>
						
						{% for cancion in canciones %}
						<tr>
							<td> {{ cancion.nombre }} </td>
						</tr>
						{% endfor %}
					</table>
				</div>
				{% include 'sidebar.html' %}
			</div>
		</div>
	</body>
</html>