<html>
	<head>
		<meta charset = 'UTF-8'>
		<title> List-n </title>
		
		<meta name = "viewport" content = 'width = device-width, user-scalable = no, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0'>
		<link rel = "stylesheet" href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity = 'sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin = 'anonymous'>
		<link rel = "stylesheet" href = "https://dl.dropboxusercontent.com/s/nq12hgjs93bp6kl/estilos.css" type = "text/css">
	</head>
	
	<body>
		<div class = "container-fluid full">
		
		<div class = 'row'>
			<button  onclick="location.href='mejores-canciones';"  type="button" class="btn btn-default">Default</button>		
		</div>
	</body>
</html>