{% include 'header.html' %}
		<div class = "container color-white">
			<div class = "row">
				<div class = 'col-sm-9 logo'>
					<h1 class = "color-black"> &nbsp; Playlists </h1>
					<img src = "https://s26.postimg.org/485sih59l/banner_album_title.png" class = "img-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for playlist in playlists %}
							<tr>
								<td> {{ playlist.id }} </td>
								<td> {{ playlist.nombre }} </td>
								<td><a href="playlist?id={{ playlist.id }}">Ver</a> | <a href="agregar-playlist?id={{playlist.id }}">Modificar</a> </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<br />
     				<a href="agregar-playlist">Agregar Nuevo Playlist</a>
				</div>
				{% include 'sidebar.html' %}
			</div>
		</div>
	</body>
</html>