<html>
	<head>
		<meta charset = 'UTF-8'>
		<title> List-n </title>
		
		<meta name = "viewport" content = 'width = device-width, user-scalable = no, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0'>
		<link rel = "stylesheet" href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity = 'sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin = 'anonymous'>
		<link rel = "stylesheet" href = 'estilos.css'>
	</head>
	
	<body>
		<div class = "container-fluid full">
			<div class = 'row'>
				<div class = 'col-sm-4'> </div>
				<div class = 'col-sm-4'>
					 <img src = "https://s26.postimg.org/9n5qnsmi1/title.png" class = "img-responsive"> 
				</div>
				<div class = 'col-sm-4'> </div>
			</div>
			
			<div class = 'row'>
				<div class = 'col-sm-4'> </div>
				<div class = 'col-sm-4'>
					<h1> Registro </h1>
					<form action = "usuario" method = "POST">
						<div class = "form-group">
							<label for = "InputName"> Nombre </label>
							<input type = "text" class = "form-control" id = "InputName" name = "firstName" placeholder = "Ingrese su nombre" >
						</div>
						<div class = "form-group">
							<label for = "InputEmail"> Email </label>
							<input name = "lastName" type = "email" class = "form-control" id = "InputEmail" placeholder = "Ingrese su email">
						</div>
						<div class = "form-group">
							<label for = "InputPassword"> Contraseña </label>
							<input name="contraseña" type = "password" class = "form-control" id = "InputPassword" placeholder = "Ingrese su contraseña">
						</div>
						<div class = "form-check">
							<label class = "form-check-label">
								<input type = "checkbox" class = "form-check-input">
								Soy un artista
							</label>
						</div>
						
						<button type = "submit" class = "btn btn-primary btn-block"> Registrarse </button>
					</form>
				</div>
				<div class = 'col-sm-4'> </div>
			</div>
		</div>
	</body>
</html>