		<div class = 'col-sm-3 color-black'>
			<button onclick="location.href='home-admin';" type = "button" class = "btn btn-default btn-square btn-block"> Cuenta </button>
			<button onclick="location.href='cancion-list';" type = "button" class = "btn btn-default btn-square btn-block"> Canciones </button>
			<button onclick="location.href='album-list';" type = "button" class = "btn btn-default btn-square btn-block"> Albumes </button>
			<button onclick="location.href='mejores-canciones';" type = "button" class = "btn btn-default btn-square btn-block"> Top 10 </button>
			<button onclick="location.href='playlist-list';" type = "button"  class = "btn btn-default btn-square btn-block"> Playlists </button>
			<button type = "button" class = "btn btn-default btn-square btn-block"> Siguiendo </button>
			<button type = "button" class = "btn btn-default btn-square btn-block"> Seguidores </button>
			<br>
			<img src = "https://s26.postimg.org/c1xm882qx/banner.png" class = "img-responsive">
			<br>
		</div>
	</div>
</div>

