

<div class = 'col-sm-3 color-black'>
			<form action="buscar-cancion" method = "GET"><input type = "text" name = "nombre" placeholder="Buscar Cancion" class = "form-control"><button type = "submit" class = "btn btn-primary btn-block"> Buscar </button> </form>
			<button onclick="location.href='home-admin';" type = "button" class = "btn btn-default btn-square btn-block"> Cuenta </button>
			<form action='cancion' method='GET'>
			<button onclick="location.href='cancion-list';" type="submit" class = "btn btn-default btn-square btn-block"> Canciones </button>
			</form>
			<button onclick="location.href='album-list';" type = "button" class = "btn btn-default btn-square btn-block"> Albumes </button>
			<button onclick="location.href='mejores-canciones';" type = "button" class = "btn btn-default btn-square btn-block"> Top 10 </button>
			{% if rank == "usuario" %}
			<form action='playlist' method='GET'>
			<button type = "submit"  class = "btn btn-default btn-square btn-block"> Playlists </button>
			</form>
			<button onclick="location.href='favoritas';" type = "button"  class = "btn btn-default btn-square btn-block"> Favoritas </button>
			{% endif %}
			<button type = "button" class = "btn btn-default btn-square btn-block"> Siguiendo </button>
			<button type = "button" class = "btn btn-default btn-square btn-block"> Seguidores </button>
			<br>
			<img src = "https://s26.postimg.org/c1xm882qx/banner.png" class = "img-responsive">
			<br>
		</div>
	</div>
</div>

