<html>
<head>
<title>Usuarios</title>
</head>
<body>
	<table class=>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Correo</th>
				<th>Activo</th>
				<th>Playlists</th>
				<th>Artistas Seguidos</th>
				<th>Artistas Seguidores</th>
				<th>Usuarios Seguidos</th>
				<th>Usuarios Seguidores</th>
				<th>Canciones Favoritas</th>
			</tr>
		</thead>
		
		<tbody>
	
        </tbody>
      </table>
      <br />
      <a href="add-account">Add Account</a>
</body>
</html>