{% include 'header.html' %}
		<div class = "container">
			<div class = "row">
				<div class = 'col-sm-9 logo'>
					<table class=>
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for usuario in usuarios %}
							<tr>
								<td> {{ usuario.id }} </td>
								<td> {{ usuario.firstName }} </td>
								<td> {{ usuario.lastName }} </td>
								<td><a href="usuario?id={{ usuario.id }}">Ver</a> | <a href="agregar-usuario?id={{usuario.id }}">Modificar</a> </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<br />
     				<a href="agregar-usuario">Agregar Nuevo Usuario</a>
				</div>
				{% include 'sidebar.html' %}
			</div>
		</div>
	</body>
</html>